button {
  color: white;
  height: 40px;
  margin: 3px;
  background-color: #f59d9d;
  border: #f59d9d;
  border-radius: 3px;
  font-weight: 600;
  font-size: 14px;
  border: 0;
}
button:hover {
  background-color: #a36363;
  cursor: pointer;
}
button:focus {
  outline: none;
}
textarea {
  display: block;
  width: 670px;
  height: 220px;
  margin: 0 auto;
}
.keysWrapper {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

